
.container{
    background-color: cadetblue;
    width:100%;
    margin: 0; 
    padding: 0;
}
.card{
    background-color: darkcyan;
    /* padding-bottom: 10px;
    padding-top: 2px; */
    /* padding: 10px 0; */
    width: 100%;
    padding: 10px 0; 
    box-sizing: border-box;
    font-size: 12px;
}

label{
    /* padding-top: 5px; */
    font-size: 20px;
    padding:10px;
    /* padding-right:10px; */
}

 .mat-table {
    /* width: 100%;    */
    height: 300px; 
    overflow-y: auto; 
    overflow-x:auto;
    margin: 0 auto; 
    border-collapse: collapse;
   
  }

  .mat-table th {
    position: sticky;
    top: 0;
    z-index: 1;  
  }   
  /* .mat-table th{
    position: absolute;
  } */

  .mat-table th, .mat-table td {
    width: 100%;
    box-sizing: border-box; 
}

.mat-table table {
    width: 100%; 
    table-layout: fixed; 
}
 

  /* .header{
    background-color:crimson;
    position: absolute;

    width: 100%;
 } 
.rows{
    margin-top: 10px;
} */

  /*  
  .mat-header-row {
     position: absolute;
  } */

 
  /* .table thead th {
    position: sticky;
    top: 0;
    background-color: #f86b6b;
    z-index: 10;
    padding: 10px;
  } */

  /* .table th, .table td {
    white-space: nowrap; 
    text-align: left;
    overflow: hidden;
    padding: 8px; 
    border: 1px solid #ddd; 
    max-width: 100px;
  } */

.btn-space{
    margin-left: 20px;
    margin-top: 5px;
}


.form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 0px; 
    padding: 0px;
}

.form-group {
        display: flex;
        /* flex-direction: column; */
        margin-bottom: 10px;
    }
    
.form-group label {
        margin-bottom: 0px;
    }

.radio-group {
    display: flex;
    align-items: center; 

}

.radio-group input[type="radio"] {
    margin-right: 15px;
}

.radio-group label {
    margin-right: 15px; 
    margin: 1;
    
}

mat-form-field{
margin: 0px;
}
mdc-notched-outline {
    display: flex;
    position: absolute;
    top: 13px;
}
